  <div class="jumbotron">
    <h1>Ask A Question</h1>
    <textarea rows=7 cols=50 class="lead">Type your question here...</textarea>
    <p class="btn btn-lg btn-success"><%= link_to("Create a New Question", new_question_path) %></p>
  </div>
    <h1>All Questions</h1>
      <div class="row marketing">
        <div class="col-lg-12">
        <% @questions.each do |question| %>
          <h4><%= link_to("#{question.title}",question_path(question))%></h4>
          <p> <%= question.content %> </p>
        <% end %>
        </div>
      </div>




