// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer_vote_count {
  display: inline-block;
}
.answer_body {
  display: inline-block;

}
.question_vote_count {
  display: inline-block;
}
.question_body {
  display: inline-block;
}

.answer_comment {
  display: none;
}
