  <a href="/questions/<%=@question.id%>/voteup" class="glyphicon glyphicon-chevron-up question_up"></a>
  <p><%= @question.total_votes %></p>
  <a href="/questions/<%=@question.id%>/votes" class="glyphicon glyphicon-chevron-down question_down"></a>
